
/* Google Font for English & Bangla */
*{
    font-family: "Poppins", sans-serif;
}

.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}

body{
  height: 100vh;
  margin:auto;
}

.active{
    background-color: #422ad5;
    color: white;
}